html, body, h1, h2, h3, p,
ol, ul, li, a  {
    padding: 0;
    border: 0;
    margin: 0;
}

body  {
    background-color: lightcyan;
    background-image: url(/images/coffee-bkgrd\(m\).jpg);
    background-position: center;
}

/* .btn-info{
    background-color: brown;
} */